@{
    DashboardResponseModel vocabularyInfo = ViewBag.VocabularyInfo;
    DashboardResponseModel paragraphInfo = ViewBag.ParagraphInfo;
    DashboardResponseModel dailyReviewInfo = ViewBag.DailyReviewInfo;
}

<style>
    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .number {
        font-size: 50px;
    }
</style>

<div class="text-center pb-5">
    <h1 class="display-4">Welcome to VocaSRS</h1>
</div>

<table class="text-center">
    <tr>
        <td colspan="3">
            <p>Số bài ngữ pháp</p>
            <p class="number">
                @dailyReviewInfo.Total
            </p>
        </td>
        <td colspan="3">
            <p>Đã nhớ</p>
            <p class="number">
                @dailyReviewInfo.Memorized
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Bài mới</p>
            <p class="number">
                @dailyReviewInfo.Unseen
            </p>
        </td>
        <td>
            <p>Học lần 1</p>
            <p class="number">
                @dailyReviewInfo.FirstReview
            </p>
        </td>
        <td>
            <p>Học lần 2</p>
            <p class="number">
                @dailyReviewInfo.SecondReview
            </p>
        </td>
        <td>
            <p>Học lần 3</p>
            <p class="number">
                @dailyReviewInfo.ThirdReview
            </p>
        </td>
        <td>
            <p>Học lần 4</p>
            <p class="number">
                @dailyReviewInfo.FourthReview
            </p>
        </td>
        <td>
            <p>Học lần 5</p>
            <p class="number">
                @dailyReviewInfo.FifthReview
            </p>
        </td>
    </tr>
</table>

<br />

<table class="text-center">
    <tr>
        <td colspan="3">
            <p>Tổng số bài nghe - chép</p>
            <p class="number">
                @paragraphInfo.Total
            </p>
        </td>
        <td colspan="3">
            <p>Đã nghe - chép xong</p>
            <p class="number">
                @paragraphInfo.Memorized
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Bài mới</p>
            <p class="number">
                @paragraphInfo.Unseen
            </p>
        </td>
        <td>
            <p>Chép lần 1</p>
            <p class="number">
                @paragraphInfo.FirstReview
            </p>
        </td>
        <td>
            <p>Chép lần 2</p>
            <p class="number">
                @paragraphInfo.SecondReview
            </p>
        </td>
        <td>
            <p>Chép lần 3</p>
            <p class="number">
                @paragraphInfo.ThirdReview
            </p>
        </td>
        <td>
            <p>Chép lần 4</p>
            <p class="number">
                @paragraphInfo.FourthReview
            </p>
        </td>
        <td>
            <p>Chép lần 5</p>
            <p class="number">
                @paragraphInfo.FifthReview
            </p>
        </td>
    </tr>
</table>

<br />

<table class="text-center">
    <tr>
        <td colspan="3">
            <p>Tổng số từ</p>
            <p class="number">
                @vocabularyInfo.Total
            </p>
        </td>
        <td colspan="3">
            <p>Số từ đã nhớ</p>
            <p class="number">
                @vocabularyInfo.Memorized
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Từ mới</p>
            <p class="number">
                @vocabularyInfo.Unseen
            </p>
        </td>
        <td>
            <p>Học lần 1</p>
            <p class="number">
                @vocabularyInfo.FirstReview
            </p>
        </td>
        <td>
            <p>Học lần 2</p>
            <p class="number">
                @vocabularyInfo.SecondReview
            </p>
        </td>
        <td>
            <p>Học lần 3</p>
            <p class="number">
                @vocabularyInfo.ThirdReview
            </p>
        </td>
        <td>
            <p>Học lần 4</p>
            <p class="number">
                @vocabularyInfo.FourthReview
            </p>
        </td>
        <td>
            <p>Học lần 5</p>
            <p class="number">
                @vocabularyInfo.FifthReview
            </p>
        </td>
    </tr>
</table>
